@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');


/*Eric mayor reset*/

body,p,h1,h2,h3,h4,h5,h6,ul,li,dl,dt,dd { margin: 0; padding: 0;}
h1,h2,h3,h4,h5,h6 {font-size: 12px; line-height: 0;}
ul {list-style: none;}
img {border: 0; vertical-align: top; }
a { text-decoration:none; color:black; cursor: none; }
button {cursor: none; }
.blind { position:absolute; top:-9999px; }

html {cursor: none;}
body {
  background: white;
}

/* scrollY tracker */
#sctk {
    position: fixed;
    color: orange;
    left: 3vh;
    top: 11vh;
    z-index: 3000;
}



/* cursor */

.cursor {
  width: 0.5rem;
  height: 0.5rem;
  /* backdrop-filter: invert(1);
  -webkit-backdrop-filter: invert(1); */
  background-color: black;
  filter: invert(1);
  border-radius: 100%;
  position: fixed;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 0.3s ease;
  transition-property: background-color, opacity, transform, mix-blend-mode;
  z-index: 9999;
  mix-blend-mode: difference;
  border: none;
  outline: none;
}

.cursor--hidden {
  opacity: 0;
}

.cursor--link-hovered {
  transform: translate(-50%, -50%) scale(3.8);
  transform-origin: center;
  cursor: none;
  backface-visibility: hidden;
}

.cursor--clicked {
  animation: cursor_click 0.7s backwards ;
  backface-visibility: hidden;
}

@keyframes cursor_click {
  0% { 
    transform: translate(-50%, -50%) scale(1);
    transform-origin: center; cursor: none;
  }
  50% { 
    transform: translate(-50%, -50%) scale(3.8);
    transform-origin: center; cursor: none;
  }
  100% { 
    transform: translate(-50%, -50%) scale(1);
    transform-origin: center; cursor: none;
  }
}


/* header */

.header { 
  position: fixed; 
  left: 0px; 
  top: 0px; 
  background: rgba(255, 255, 255, 1); 
  width: 100%;
  /* height: 120px;  */
  border-bottom: 2px solid black;
  z-index: 1000;
}

.header .inner { 
  position: relative;  
  height: 66px; 
  margin: 0 auto; 
  z-index: 1200;
}


/* header */
.header .inner ul {
  position: absolute; 
  right: 9px; 
  top: 26px;
  padding-right: 1%;
  /* border: 2px dashed yellow; box-sizing: border-box; */
} 

.header .inner a .logo {
  position: absolute; 
  left: 9px; 
  top: 16px; 
  padding-left: 1%;
  width: 105px;
}

.header ul li {
  float: left;
  font-family: 'Noto Sans KR';
  font-size: 16.5px;
  font-weight: 500;
  /* border: 2px dashed yellow; box-sizing: border-box; */
  line-height: 1em;
}

.header ul li:nth-child(1) { position: relative; padding-right:55px}
.header ul li:nth-child(1) .hr_d1 { 
  position: absolute;
  top: -5px;
  left: 6px;
  width: 3px;
  height: 3px;
  border-radius: 3px;
  background: black;
  visibility: hidden; 
}
.header ul li:nth-child(2) { position: relative; padding-right:55px}
.header ul li:nth-child(2) .hr_d2 { 
  position: absolute;
  top: -5px;
  left: 6px;
  width: 3px;
  height: 3px;
  border-radius: 3px;
  background: black;
  visibility: hidden; 
}

.header ul li:nth-child(2) .hr_d3 { 
  position: absolute;
  top: -5px;
  left: 21px;
  width: 3px;
  height: 3px;
  border-radius: 3px;
  background: black;
  visibility: hidden; 
}
.header ul li:nth-child(2) .hr_d4 { 
  position: absolute;
  top: -5px;
  left: 36px;
  width: 3px;
  height: 3px;
  border-radius: 3px;
  background: black;
  visibility: hidden; 
}
.header ul li:nth-child(2) .hr_d5 { 
  position: absolute;
  top: -5px;
  left: 52px;
  width: 3px;
  height: 3px;
  border-radius: 3px;
  background: black;
  visibility: hidden; 
}
.header ul li:nth-child(3) { position: relative; padding-right:55px}
.header ul li:nth-child(3) .hr_d6 { 
  position: absolute;
  top: -5px;
  left: 6px;
  width: 3px;
  height: 3px;
  border-radius: 3px;
  background: black;
  visibility: hidden; 
}

.header ul li:nth-child(3) .hr_d7 { 
  position: absolute;
  top: -5px;
  left: 21px;
  width: 3px;
  height: 3px;
  border-radius: 3px;
  background: black;
  visibility: hidden; 
}
.header ul li:nth-child(3) .hr_d8 { 
  position: absolute;
  top: -5px;
  left: 36px;
  width: 3px;
  height: 3px;
  border-radius: 3px;
  background: black;
  visibility: hidden; 
}
.header ul li:nth-child(3) .hr_d9 { 
  position: absolute;
  top: -5px;
  left: 52px;
  width: 3px;
  height: 3px;
  border-radius: 3px;
  background: black;
  visibility: hidden; 
}
.header ul li:nth-child(3) .hr_d10 { 
  position: absolute;
  top: -5px;
  left: 66px;
  width: 3px;
  height: 3px;
  border-radius: 3px;
  background: black;
  visibility: hidden; 
}

.header ul li:nth-child(4) { position: relative;}
.header ul li:nth-child(4) .hr_d11 { 
  position: absolute;
  top: -5px;
  left: 6px;
  width: 3px;
  height: 3px;
  border-radius: 3px;
  background: black;
  visibility: hidden; 
}

.header ul li:nth-child(4) .hr_d12 { 
  position: absolute;
  top: -5px;
  left: 21px;
  width: 3px;
  height: 3px;
  border-radius: 3px;
  background: black;
  visibility: hidden; 
}
.header ul li:nth-child(4) .hr_d13 { 
  position: absolute;
  top: -5px;
  left: 36px;
  width: 3px;
  height: 3px;
  border-radius: 3px;
  background: black;
  visibility: hidden; 
}


/* sec1 */

.sd_wrap{
  /* position: fixed; */
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pl_sd {
  position: fixed;
  font-family: 'SF Pro';
  font-size: 4vh;
  color: black;
  font-weight: 100;
  letter-spacing: 0.1vw;
}

.sec1{
  opacity: 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.runners { 
  transform: scale(0.6);
  /* margin-bottom: 15vh; */
  position: fixed;
  top: 20%;
}

.sec1 .typo1 {
  position: fixed;
  /* position: absolute; */
  top: 60%;
  /* margin-top: 28vh; */
  text-align: center;
}

.sec1 .typo1 .tw_1 { 
  font-family: 'SF Pro KR';
  font-size: 4vh;
  line-height: 1em;
  margin-top: -14px;
  color: black;
  /* padding-top: 14px; */
  font-weight: 100;
}
.sec1 .typo1 .tw_2 {
  font-family: 'SF Pro KR';
  font-size: 2.2vh;
  font-weight: 100;
  line-height: 1em;
  /* padding-top: 29px; */
  padding-top: 3vh;
  color: rgba(0, 0, 0, 0.5);
}

.sec1 .typo1 .tw_1 .kw1 { line-height: 0;}
.sec1 .typo1 .tw_1 .kw2 { line-height: 0;}
.sec1 .typo1 .tw_2 .kw3 { line-height: 0;}

/* sec2 */

.sec2 {
  opacity: 0;
  width: 100vw;
  height: 100vh;
}

.sec2_wrap {
    position: fixed;
    display: flex;
    top: 0%;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.sec2 .typo2{
  text-align: center;
  position: relative;
}

.sec2 .typo2 h3{
    font-family: 'SF Pro KR';
    line-height: 1em;
    margin-top: -14px;
    font-size: 4vh;
    color: black;
    font-weight: 100;
}

.sec2 .typo2 p {
  font-family: 'SF Pro KR';
  font-size: 2.3vh;
  font-weight: 100;
  line-height: 1em;
  padding-top: 6vh;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 100;
}


.sec2 .typo2 .d1 { 
  position: absolute;
  top: -17%;
  left: 16.8%;
  width: 0.5vh;
  height: 0.5vh;
  border-radius: 100%;
  background: black;
  margin-top: -14px;
}

.sec2 .typo2 .d2 { 
  position: absolute;
  top: -17%;
  left: 23.4%;
  width: 0.5vh;
  height: 0.5vh;
  border-radius: 100%;
  background: black;
  margin-top: -14px;
}

.sec2 .typo2 .d3 { 
  position: absolute;
  top: -17%;
  right: 21.3%;
  width: 0.5vh;
  height: 0.5vh;
  border-radius: 100%;
  background: black;
  margin-top: -14px;
}

.sec2 .typo2 .d4 { 
  position: absolute;
  top: -17%;
  right: 14.5%;
  width: 0.5vh;
  height: 0.5vh;
  border-radius: 100%;
  background: black;
  margin-top: -14px;
}

.sec2 .typo2 .d5 { 
  position: absolute;
  bottom: 34%;
  left: 32.7%;
  width: 0.5vh;
  height: 0.5vh;
  border-radius: 100%;
  background: rgba(0,0,0,0.4);
}

.sec2 .typo2 .d6 { 
  position: absolute;
  bottom: 34%;
  left: 36.15%;
  width: 0.5vh;
  height: 0.5vh;
  border-radius: 100%;
  background: rgba(0,0,0,0.4);
}

.port_4{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.hss_logo {
  position: absolute;
  /* bottom: 38.5%; */
  /* left: 23%; */
  width: 14vw;
  z-index: 5;
}

.pf4_subp {
  position: absolute;
    bottom: 43%;
    /* left: 36%; */
    font-family: 'Black Han Sans', sans-serif;
    font-family: 'Noto Sans KR';
    /* font-family: 'OTEnjoystoriesBA'; */
    font-size: 0.7vw;
    opacity: 35%;
    z-index: 5;
    font-weight: 400;
}

.ypaint_hide1 {
  position: absolute;
  /* top: 45%; */
  /* left: 0%; */
  width: 10vw;
  height: 5vh;
  z-index: 4;
  background-color: white;
  cursor: none;
}

.ypaint_hide2 {
  position: absolute;
  bottom: 42%;
  /* left: 16%; */
  width: 6vw;
  height: 4vh;
  z-index: 4;
  background-color: white;
  cursor: none;
}

.ypaint_hide3 {
  position: absolute;
  bottom: 23%;
  left: 57%;
  width: 11%;
  height: 51%;
  z-index: 4;
  background-color: white;
  cursor: none;
}

.pf4bg {
  position: absolute;
    top: 12%;
    left: 5%;
    width: 13.5vw;
    height: 24vw;
    background-color: white;
    z-index: 0;
}

.pf4_ypaint1 {
  position: absolute;
  top: 53%;
  left: 45.1%;
  width: 10vw;
  z-index: 2;
}

.pf4_ypaint2 {
  position: absolute;
  bottom: 43.8%;
  left: 42%;
  width: 17vw;
  z-index: 2;
  transform: scaleY(-1);
}

.smile {
  position: absolute;
    height: 5vh;
    z-index: 1;
    cursor: none;
    /* left: 44%; */
}

.cls-1{fill:#ffe422;}
.blind{fill:#ffe422;}
.cls-2{fill:#000;}





/* introduce */

.bkbox {
  /* position: fixed;  */
  /* top: 100%; */
  width: 100vw;
  height: 100vh;
  background-color: black;
}

.lottie_intro {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: black;
  justify-content: center;
  align-items: center;
}

/* portfolio */

.portfolio{
  /* overflow: hidden; */
}

.port_wrap{
  background-color: white;
  width: 850vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  position: relative;
}

.port_start{
  background-color: black;
  width: 150vw;
  height: 100vh;
}

.port {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.port img{
  transform: scale(0.6);
}

.port_1 {
  width: 85vw;
}

.port_pc{
  width: 60vw;
}

.port_ph {
  width: 23vw;
}


.pf_more .port_ph {
  transform: scale(0.6);
  width: 23vw;
}


.port_tt {
  font-family: 'SF Pro KR';
  font-size: 8vh;
  line-height: 1em;
  /* padding-top: 6vh; */
  color: rgba(0, 0, 0, 0.5);
  font-weight: 100;
}


.p_wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.lottie_ani {
  position: absolute;
  width: 71vh;
  top: 22.8%;
}

.port_2 {
  position: absolute;
  top: 23.5%;
  width: 35vw;
  height: 20vw;
  transform: scale(1);
  z-index: -1;
  background-color: rgba(240, 174, 0, 1);
}

.port_2 h3 {
  position: absolute;
    top: 17%;
    right: 7%;
    /* font-family: 'Black Han Sans', sans-serif; */
    font-family: 'Open Sans', sans-serif;
    font-size: 4.3vw;
    font-weight: bold;
}

.port_2 h3 span {
  font-weight: 100;
}

.port_2 p {
  position: absolute;
  top: 27%;
  right: 8%;
  /* font-family: 'Black Han Sans', sans-serif; */
  font-family: 'Noto Sans KR';
  font-size: 1.3vw;
  font-weight: 100;
  opacity: 70%;
}

.eye_hide1 {
  position: absolute;
  bottom: -44%;
  left: -31%;
  width: 50vw;
  height: 9vw;
  z-index: 4;
  background-color: white;
  cursor: none;
}

.eye_hide2 {
  position: absolute;
    bottom: -44%;
    left: -29%;
    width: 10vw;
    height: 38vw;
    z-index: 4;
    background-color: white;
    cursor: none;
}



.pf2_eye {
  position: absolute;
  bottom: -44%;
  left: -26%;
  width: 30%;
  z-index: 2;
}

.port_more {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pf_more_img {
  position: absolute;
}

.hover_runner {
  z-index: -2;
  width: 22vw;
}

.pfmore_bg {
  position: absolute;
  z-index: -1;
  background: white;
  width: 12vw;
  height: 45vh;
}

/* contact */

.contact {
  width: 100vw;
  height: 100vh;
  background-color: white;
}

/* footer */

.footer { 
  position: relative;
  position: fixed;
  bottom: 0px;
  border-top: 2px solid black;
  /* background: rgba(0, 0, 0, 0);  */
  background: rgba(255, 255, 255, 1);
  width: 100%; 
  z-index: 1000;
}

.footer .inner {
  position: relative;
  /* width: 1268px; */
  height: 70px;
  margin: 0 auto; 
  /* border: 2px dashed yellow; box-sizing: border-box; */
}


.footer .inner p {
  /* margin-left: -20px; */
  padding-top: 27px;
  /* text-align: center; */
  font-family: 'Noto Sans KR';
  font-size: 11px;
  color: rgba(0, 0, 0, 1);
  padding-left: 1.5%;
}


#pf-nav {
  position: absolute;
  left: 9px;
  padding-left: 1%;
}

#pf-nav ul {
  margin: 0;
  padding: 0;
  /* width: 88px; */
  height: 70px;
  display: flex;
  align-items: center;
}

#pf-nav ul li {
  display: block;
  width: 14px;
  height: 13px;
  margin: 7px;
  position: relative;
}



#pf-nav ul li span{
  border-radius: 100%;
  position: absolute;
  z-index: 100;
  height: 7px;
  width: 7px;
  border: 0;
  background: #333;
  left: 50%;
  top: 50%;
  /* margin: -2px 0 0 -2px; */
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;

  transform-origin: center;
}

.pf_nav_active{
  transform: scale(2);
  border-radius: 100%;
  transform-origin: center;
}

#pf-nav ul li[data-descr]:hover span {
  transform: scale(2);
  border-radius: 100%;
  transform-origin: center;
}


#pf-nav ul li:nth-child(1)[data-descr]:hover::after{ content: attr(data-descr); position: absolute; left: -6px; top: -10vh; /* min-width: 200px; */ /* border: 1px #aaaaaa solid; */ /* border-radius: 10px; */ background-color: transparent; padding: 12px; color: #000000; font-size: 14px; z-index: 1;}
#pf-nav ul li:nth-child(2)[data-descr]:hover::after{ content: attr(data-descr); position: absolute; left: -24px; top: -10vh; /* min-width: 200px; */ /* border: 1px #aaaaaa solid; */ /* border-radius: 10px; */ background-color: transparent; padding: 12px; color: #000000; font-size: 14px; z-index: 1;}
#pf-nav ul li:nth-child(3)[data-descr]:hover::after{ content: attr(data-descr); position: absolute; left: -31px; top: -10vh; /* min-width: 200px; */ /* border: 1px #aaaaaa solid; */ /* border-radius: 10px; */ background-color: transparent; padding: 12px; color: #000000; font-size: 14px; z-index: 1;}
#pf-nav ul li:nth-child(4)[data-descr]:hover::after{ content: attr(data-descr); position: absolute; left: -40px; top: -10vh; /* min-width: 200px; */ /* border: 1px #aaaaaa solid; */ /* border-radius: 10px; */ background-color: transparent; padding: 12px; color: #000000; font-size: 14px; z-index: 1;}
#pf-nav ul li:nth-child(5)[data-descr]:hover::after{ content: attr(data-descr); position: absolute; left: -18px; top: -10vh; /* min-width: 200px; */ /* border: 1px #aaaaaa solid; */ /* border-radius: 10px; */ background-color: transparent; padding: 12px; color: #000000; font-size: 14px; z-index: 1;}
#pf-nav ul li:nth-child(6)[data-descr]:hover::after{ content: attr(data-descr); position: absolute; left: -20px; top: -10vh; /* min-width: 200px; */ /* border: 1px #aaaaaa solid; */ /* border-radius: 10px; */ background-color: transparent; padding: 12px; color: #000000; font-size: 14px; z-index: 1;}


/* hiden function menu */

.footer .inner .hfm_btn{
  position: absolute;
  right: 0px;
  bottom: 25px;
  margin-right: 1.5%;
  /* cursor: pointer; */
  background: transparent;
  border: 0px;
}

.hfm_list {
  /* display: none; */
  position: fixed;
  bottom: 10%;
  right: 1.5vw;
  text-align: right;
}


.hfm_list li {
  font-family: 'Noto Sans KR';
  font-size: 0.5em;
  font-weight: 500;
  padding-bottom: 0.6vh;
  padding-top: 0.6vh;
  /* cursor: pointer; */
}






/* mediaquery */


@media all and (max-aspect-ratio:12/7.64) {  
  /* body {zoom:0.55} */
  .pop .inner .sc_al {
      display: block;
      visibility: visible;
      transform: scale(0.8);
  }
  .pop .inner .sheet {
      display: none;
  }
  .hfm_list {bottom: 13%;}
}  

@media all and (min-width:1041px) and  (max-width:1601px) {  
  /* body {zoom:0.55} */
  .header {zoom:0.7}
  .footer {zoom:0.7}
  

}  /* PC  */

@media(hover: hover) and (pointer: fine) {
}

